.Filter_btn {
    color: black;
    min-width: 3em;
    text-decoration: none;
    padding: 15px;
    position: relative;
    text-align: center;
    cursor: pointer;
    color: white;
    margin-top: 10px;
}
.Filter_btnActive{
    background: #2c2c2c;
    border-top: 2px solid orange;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.Filter_btn:hover{
    border-top: 2px solid lightblue;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    transition: 70ms;
}
  