*{
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    /* border: 1px solid red; */
}
body{
    font-size: 16px;
    max-width: 100vw;
}
ul {
    list-style: none;
}

A:link { 
    text-decoration: none; /* Убирает подчеркивание для ссылок */
} 
A:visited { text-decoration: none; color: inherit;} 
A:active { text-decoration: none; }
A:hover {} 

.font-size-35px{
    font-size: 35px;
}
#header{
    position: fixed;
    width: 100vw;
    max-width: 100%;
    height: 4em;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    background-color: darkgray; 
    /* background: linear-gradient(to right, #94000dd7, #8a3324, #94000dd7); */
    /* background-color: ; */
    color: #000;
    align-items: center;
    top: 0;
    z-index: 2;
}
#header_user{
    cursor: pointer;
    /* height: 30px; */
}
#header_basket-basket{
    height: 30px;
    width: 30px;
    background-image: url(../img/basket.svg);
    margin-left: 5px;
}
#header_contacts{
    text-decoration: none;
    color: black;
}
#logo{
    display: flex;
}
#logo_fLogo{
    color: white;
    border-top: 1px solid rgba(255, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 0, 0, 0.5);
    border-top-left-radius: 12%;
    border-bottom-left-radius: 12%;
}
#logo_sLogo{
    color: red;
    border-right: 1px solid white;
    border-radius: 50%;
    margin-left: -18px;
}
#main{
    margin-top: 4em;
    padding-left: 5em;
    /* height: calc(100vh - 4em); */
    max-height: 100%;
    background: #2c2c2c;
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: calc(100vw - 5em);
    min-width: 600px;
    overflow: hidden;
}